Write a Python class named SRMIST with six attributes school, dept1, dept2, dept2 and 
dept3. Add a new attribute specialization and display the entire attribute and their values of 
the said class. Now remove the dept1 and dept2 attribute and display the entire attribute 
with values.

In [3]:
class SRMIST:
    def __init__(self,s=str(),d1=str(),d2=str(),d3=str(),d4=str()):
        self.school = s
        self.dept1 = d1
        self.dept2 = d2
        self.dept3 = d3
        self.dept4 = d4
a = SRMIST('School_of_Computing', 'CSE', 'Maths', 'Data Science', 'Aptitude')
from pprint import pprint
print("Original: ")
pprint(vars(a))
setattr(a, 'Specialization', 'Core')
print("Added: ")
pprint(vars(a))
delattr(a, 'dept1')
delattr(a, 'dept2')
print("Deleted: ")
pprint(vars(a))

Original:
{'dept1': 'CSE',
 'dept2': 'Maths',
 'dept3': 'Data Science',
 'dept4': 'Aptitude',
 'school': 'School_of_Computing'}
Added:
{'Specialization': 'Core',
 'dept1': 'CSE',
 'dept2': 'Maths',
 'dept3': 'Data Science',
 'dept4': 'Aptitude',
 'school': 'School_of_Computing'}
Deleted:
{'Specialization': 'Core',
 'dept3': 'Data Science',
 'dept4': 'Aptitude',
 'school': 'School_of_Computing'}

Write a Python program to create four empty classes, CTECH, CINTEL, NWC and DSBS. 
Now create some instances and check whether they are instances of the said classes or not. 
Also, check whether the said classes are subclasses of the built-in object class or not.

In [4]:
class CTECH:
    pass
class CINTEL:
    pass
class NWC:
    pass
class DSBS:
    pass

student1 = CTECH()
marks1 = CINTEL()
age1 = NWC()
grade1 = DSBS()

print("Instance of the class ?")
print(isinstance(student1, CTECH))
print(isinstance(student1, CINTEL))
print(isinstance(student1, NWC))
print(isinstance(student1, DSBS))

print(isinstance(marks1, CTECH))
print(isinstance(marks1, CINTEL))
print(isinstance(marks1, NWC))
print(isinstance(marks1, DSBS))

print("Subclass of the built in object ?")
print(issubclass(CTECH, object))
print(issubclass(CINTEL, object))
print(issubclass(NWC, object))
print(issubclass(DSBS, object))

Instance of the class ?
True
False
False
False
False
True
False
False
Subclass of the built in object ?
True
True
True
True

Write a program to print the names of the departments students by creating a Dept class. If 
no name is passed while creating an object of the Dept class, then the name should be 
"SCO", otherwise the name should be equal to the String value passed while creating the 
object of the Dept class.

In [5]:
class Dept:
    def __init__(self, *args):
        if len(args) == 1:
            self.dept=args[0]
        elif len(args) == 0:
            self.dept="SCO"
    
    def deptname(self):
        print(self.dept)
        
d1=Dept()
d1.deptname()
 
d2=Dept("CSE")
d2.deptname()

SCO
CSE

Create a class named 'Rectangle' with two data members- length and breadth and a function 
to calculate the area which is 'length*breadth'. The class has three constructors which are : 
having no parameter - values of both length and breadth are assigned zero. 
having two numbers as parameters - the two numbers are assigned as length and breadth 
respectively. 
having one number as parameter - both length and breadth are assigned that number. 
Now, create objects of the 'Rectangle' class having none, one and two parameters and print 
their areas.

In [6]:
class rectangle:
    length=0
    width=0
    def __init__(self,*args):
        if(len(args)==2):
            self.length=args[0]
            self.width=args[1]
        elif(len(args)==1):
            self.length=args[0]
            self.width=args[0]
        else:
            self.lenth=0
            self.width=0
    def area(self):
        return self.length*self.width
r1=rectangle(5,10)
print(r1.area())
r2=rectangle(5)
print(r2.area())
r3=rectangle()
print(r3.area())

50
25
0

Create a class named 'PrintDT' to print various numbers of different datatypes by creating 
different functions with the same name 'python_dataâ€™ having a parameter for each datatype. 
(example : tuple, list, string)

In [8]:
class PrintDT:
    def python_data(self, tuple):
        self.tuple=()
        print(tuple)
    def python_data(self, list):
        self.list=[]
        print(list)
    def python_data(self, string):
        self.string=""
        print(string)
        
p=PrintDT()
p.python_data(('1',['a','b'], "hii"))
p.python_data([1,2,3])
p.python_data("Hello")

('1', ['a', 'b'], 'hii')
[1, 2, 3]
Hello

A student from SRMIST has his/her money deposited Rs.15000, Rs.30000 and Rs. 40,000 
in banks-CUB, HDFC and Indian Bank respectively. We have to print the money deposited 
by him/her in a particular bank. 
Create a class named 'Banks_SRMIST' with a function 'getBalance' which returns 0. Make 
its three subclasses named 'CUB', 'HDFC' and 'Indian_Bank' with a function with the same 
name 'getBalance' which returns the amount deposited in that particular bank. Call the 
function 'getBalance' by the object of each of the three banks.

In [11]:
class Banks_SRM:
    def getBalanace():
        return 0
class CUB(Banks_SRM):
        def getBalance(balance):
            return balance 
class HDFC(Banks_SRM):
        def getBalance(balance):
            return balance
class Indian_Bank(Banks_SRM):
        def getBalance(balance):
            return balance

Banks_SRM()
print(CUB.getBalance(15000))
print(HDFC.getBalance(30000))
print(Indian_Bank.getBalance(40000))

15000
30000
40000

Create a Time class and initialize it with hours and minutes. 
Make a method addTime which should take two time object and add them. E.g.- (2 hour 
and 50 min)+(1 hr and 20 min) is (4 hr and 10 min) 
Make a method displayTime which should print the time. 
Make a method DisplayMinute which should display the total minutes in the Time. E.g.- 
(1 hr 2 min) should display 62 minute.

In [12]:
class Time:
    def __init__(self, hours, mins):
        self.hours=hours
        self.mins=mins
    def addTime(t1,t2):
        t3 = Time(0,0)
        if ((t1.mins+t2.mins)>60):
            t3.hours = (t1.mins+t2.mins)//60
        t3.hours = t3.hours+t2.hours+t1.hours
        t3.mins = (t1.mins+t2.mins)%60
        return t3
    def displayTime(self):
        print("Time is", self.hours, "hours and", self.mins,"minutes.")
    def displayMinute(self):
        print((self.hours*60) + self.mins)

a = Time(2,40)
b = Time(1,30)
c = Time.addTime(a,b)
c.displayTime()
c.displayMinute()

Time is 4 hours and 10 minutes.
250

Write a program to print the area and perimeter of a triangle having sides of 3, 4 and 5 units 
by creating a class named 'Triangle' with a function to print the area and perimeter.

In [13]:
class Triangle:
    def perimeter(self,s1,s2,s3):
        return s1+s2+s3
    def area(area,s1,s2,s3):
        h = ((s2**2) - (0.5*s1)**2)**0.5
        return (0.5*s2*h)

s1 = float(input("1: "))
s2 = float(input("2: "))
s3 = float(input("3: "))
a=Triangle()
print(a.perimeter(s1,s2,s3))
print(a.area(s1,s2,s3))

1: 20
2: 14
3: 12
46.0
68.58571279792898